<div class="user-banner">
</div>
<div class="row">
  <div class="large-12 columns user-intro">
    <h2 class="header-quote">"We travel not to escape life, but for life not to escape us" - Anonymous</h2>
    <p>Welcome <%= @user.name if @user.name %> ! Thank you for choosing Backpackers to plan your next big adventure! We understand the importance of pre-trip planning and you'll find some great tools on this site to make sure you're prepared. Click on the Start a New Trip button below to get started!</p>
  </div>
</div>
<div class="row">
  <div class="large-4 columns user-trips">
  	<h1>Your Trips</h1>
  	<% if @trips.length > 0 %>
  		<% @trips.each do |trip| %>
  			<p><%= link_to trip.name, trip %></p>
  		<% end %>
  	<% else %>
  		<h2>You don't have any existing trips.</h2>
  	<% end %>
  </div>
  <div class="large-4 columns budgeting-links">
    <h2>Not sure where to start?</h2>
    <p>Use our budgeting tools to see which destinations are a perfect fit!</p>
    <%= link_to "World at a Glance", "/info_map", class: "button success user-page-button" %>
    <%= link_to "Start an In Depth Budget", budgets_path, class: "button success user-page-button"%>
    <p class="option-or"> ~ or ~ </p>
  </div>
  <div class="large-4 columns">
    <%= link_to image_tag("new-trip.jpg"), new_trip_path, :class => "new-trip-btn", :method => :get %>
  </div>
</div>
