<div class="new-trip-wrapper">
  <h2 class="trip-name">What is the name of your trip?</h2>

  <%= form_for @trip, url: {action: "create"} do |f| %>
    <div class="form-group">
      <%= f.text_field :name, :autofocus => true, class: 'form-control', placeholder: 'enter trip name' %>
    </div>
  	<%= f.submit 'Get Started!', :class => 'button new' %>
  <% end %>
  <div class="content">
    <div class="grid">
      <div class="new-trip-img-1">
        <figure class="effect-julia">
          <%= image_tag("hiker-1149877_960_720.jpg", :alt => "rss feed") %>
          <figcaption>
            <h2 class="img-caption">World of <span>Wanderlust</span></h2>
            <div>
              <p class="img-caption">"We travel some of us forever."</p>
              <p class="img-caption">"We travel for fulfillment."</p>
              <p class="img-caption">"Beauty, Charm and Adventure."</p>
            </div>
            <a href="#">View more</a>
          </figcaption>
        </figure>
      </div>
      <div class="new-trip-img-2">
      <figure class="effect-julia">
        <%= image_tag("hiker-918704_960_720.jpg", :alt => "travelbug") %>
        <figcaption>
          <h2 class="img-caption">Travel Bug <span>Bites</span></h2>
          <div>
            <p class="img-caption">"Travel to take a journey."</p>
            <p class="img-caption">"Travel makes one modest."</p>
            <p class="img-caption">"The world is a book"</p>
          </div>
          <a href="#">View more</a>
        </figcaption>
      </figure>
    </div>
    </div>
</div>
