<div>
	<h1>This is where the trip page is going to go!</h1>
	
	<div>
	<a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:3000/trip_preview/<%=@trip.trip_code %>" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i>Share on Facebook</a>
	</div>

	<a href="/trip/<%=@trip.id%>/trip_route/<%=@route%>"> View Trip Route </a>
	<% if @trip.itinerary_id %>
		<h2>Saved Itinerary</h2>
		<ol>	
			<% @trip.itinerary.cities.each do |stop| %>
			<li> <%= stop %> </li>
			<% end %>
		</ol>
	<% end %>
	
	<h4>Need Some Inspiration?</h4>

	<%= link_to "Europe", trip_itinerary_path(@trip.id, "Europe") %>
	<%= link_to "Asia", trip_itinerary_path(@trip.id, "Asia") %>
	<%= link_to "Central / South America", trip_itinerary_path(@trip.id,"Central%2FSouth America") %>
	<%= link_to "North America", trip_itinerary_path(@trip.id,"North America") %>
	<%= link_to "Austraila / New Zealand", trip_itinerary_path(@trip.id,"Australia%2FNew Zealand") %>
</div>

<%= render :partial => "shared/comments", :locals => {:comments => @comments} %>
