<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Rails Devise" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyAzYQDkjGND8HXno79__PIplYhGA7RmaZY' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="/assets/info_maps/d3.v3.min.js"></script>
    <script src="/assets/info_maps/topojson.v1.min.js"></script>
    <script src="/assets/info_maps/d3.min.js"></script>
    <script src="/assets/info_maps/topojson.min.js"></script>
    <script src="/assets/info_maps/datamaps.world.min.js"></script>

    <style>
      #container {
        background-color: #41AAC4;
      }

    </style>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
